<!DOCTYPE html>
<html lang="en">
  <title>About Holgastreet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/tachyons.min.css">
  <body class="bg-washed-blue gray helvetica">
    <header class="tc mv0 pt1 pb2 pl2 pr2 bg-near-black washed-blue">
      <h1 class="mb2"><a class="no-underline washed-blue" href="/">Holgastreet</a></h1>
    </header>
    <div class="cf">
      <div class="w-third-ns dn db-ns fl">&nbsp;</div>
      <article class="w-third-ns fl">
        <h1 class="f3 fwb ttu tracked tc near-black">About</h1>
        <section class="pa3">
          <p class="lh-copy cf">
            <img alt="Photo of Atlas Theatre" src="/images/holgastreet/2016-09-17/thumbs/IMG_3904.jpg" width="90" class="fl pv1 pr3">
            These are pictures of the H Street Corridor in Northeast Washington, D.C. (sometimes called the Atlas District).  They are all taken with a Holga 120N, and developed by me in my basement.
          </p>
          <p class="lh-copy">
            Each week is a theme of sorts where I focus on some aspect of my neighborhood.  Hopefully over time you'll see the neighborhood grow and change.  You also might see me get better at photography and film processing.
          </p>
        </section>
        <section class="pa3">
          <h1 class="f4">Process</h1>
          <p class="lh-copy">
            My goal is to take at least one roll of film per week, develop it on the weekend, and post it here and on Instagram the following week.  This site will contain all the pictures I've taken, with Instagram being the highlights.
          </p>
          <p class="lh-copy">
            I also want to minimize processing as much as possible.  Because I'm still learning about the Holga and film processing, I might push or pull during development, and may adjust the brightness or contrast of the digital images.  I'm certainly doing some cropping, but trying to stay true to the aspect ratio of the camera.  I'm also going to resist any touch-ups or “fixes” for grain, water, or other mistakes I might make in processing or handling the film.
          </p>
        </section>
        <section class="pa3">
          <h1 class="f4">Me</h1>
          <p class="lh-copy">
            I'm <a href="https://twitter.com/davetron5000">davetron5000</a> on Twitter and most social media, and am regularly a programmer and technical book author.  <a class="near-black fb" href="http://naildrivin5.com">My website</a> has lots of nerdy blog articles you can read. Otherwise, I'm a happy resident of Northeast DC who likes cooking, cats, cocktails, and my lovely wife :).
          </p>
        </section>
        <section class="pa3">
          <a name="license">
            <h1 class="f4">License &amp; Terms</h1>
            <p class="lh-copy">
              All content is Copyright by David Copeland (me) and is licensed under <a rel="license" class="black" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.
              <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a>
            </p>
          </a>
        </section>
        <footer class="br2 bg-light-gray mid-gray pv2 athelas f5">
          <h4 class="f4 tc ttu tracked fwb">Colophon</h4>
          <div class="ph4">
            <p class="lh-copy-narrow">
              This site is styled using <a class="fb black" href="http://tachyons.io">Tachyons</a> CSS Framework.  Images are managed in Apple's Photos App for Mac, and <a class="fb black" href="http://www.sno.phy.queensu.ca/~phil/exiftool/">exiftool</a> is used to extract metadata and generate this site, which is happens via custom Ruby scripts.
            </p>
            <p class="lh-copy-narrow">
              Most of the site is set in Helvetica, with this colophon set in Athelas.
            </p>
          </div>
        </footer>
      </article>
    </div>
  </body>
</html>
