{{> templates/head }}
    <header class="tc mv0 pt1 pb2 pl2 pr2 bg-near-black washed-blue">
      <h1 class="mb2"><a class="no-underline washed-blue" href="/">Holgastreet,</a></h1>
      <h2 class="mt0 tracked fw1">Washington, DC</h2>
      <h3 class="mt1 mb3 f4 fw3">Real film, real (crappy) camera.</h3>
      <nav class="mt2 f6 fw6 ttu tracked pt2 bt tc b--gray">
        <a class="link dim light-silver dib mr3" href="/about.html" title="About">About</a>
        <a class="link dim white dib mr3" href="/rolls/index.html" title="Rolls">Rolls</a>
        <a class="link dim white dib" href="https://instagram.com/holgastreet" title="Contact">Contact</a>
      </nav>
    </header>
    <div class="cf">
      <div class="w-third-ns dn db-ns fl">&nbsp;</div>
      <article class="w-third-ns fl">
        <h1 class="f3 fwb ttu tracked tc near-black">About</h1>
        <section class="pa3">
          <p class="lh-copy cf">
            <img nopin="nopin" alt="Photo of Atlas Theatre" src="/images/holgastreet/2016-09-17/thumbs/IMG_3904.jpg" width="90" class="fl pv1 pr3">
            These are mostly pictures of the H Street Corridor in Northeast Washington, D.C. (sometimes called the Atlas District, officially known as “Near Northeast”).  They are all taken with a Holga 120N, and developed by me in my basement.  On occasion, there are photos from other places if I happened to have the Holga with me.
          </p>
        </section>
        <section class="pa3">
          <h1 class="f4">Process</h1>
          <p class="lh-copy">
            My goal is to take at least one roll of film per week, develop it on the weekend, and post it here and on <a href="https://instagram.com/holgastreet">Instagram</a> the following week.  This site will contain all the pictures I've taken, with Instagram being the highlights.
          </p>
          <p class="lh-copy">
            I also want to minimize processing as much as possible.  There will be minimal cropping and minimal post-processing.  Mostly I'm adjusting the levels to get the clearest picture of what I (thought I) was taking.  There will be as few “touch ups” as possible so you can see what comes out of the camera.
          </p>
        </section>
        <section class="pa3">
          <h1 class="f4">Me</h1>
          <p class="lh-copy">
            I'm <a class="near-black fb" href="https://twitter.com/davetron5000">davetron5000</a> on Twitter and most social media, and am a programmer and technical book author.  <a class="near-black fb" href="http://naildrivin5.com">My website</a> has lots of nerdy blog articles you can read. Otherwise, I'm a happy resident of Northeast DC who likes cooking, cats, pro-wrestling, cocktails, and my lovely wife :).
          </p>
        </section>
        <section class="pa3">
          <a name="license">
            <h1 class="f4">License &amp; Terms</h1>
            <p class="lh-copy">
              All content is Copyright by David Copeland (me) and is licensed under <a rel="license" class="black" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.
              <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img nopin="nopin" alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a>
            </p>
          </a>
        </section>
        <footer class="br2 bg-light-gray mid-gray pv2 athelas f5">
          <h4 class="f4 tc ttu tracked fwb">Colophon</h4>
          <div class="ph4">
            <p class="lh-copy-narrow">
              This site is styled using <a class="fb black" href="http://tachyons.io">Tachyons</a> CSS Framework.  Scanned images are managed via custom Ruby code that I wrote that uses <a class="fb black" href="http://www.sno.phy.queensu.ca/~phil/exiftool/">exiftool</a> under the covers to set and manipulate EXIF metadata.
            </p>
            <p class="lh-copy-narrow">
              Most of the site is set in Helvetica, with this colophon set in Athelas.
            </p>
          </div>
        </footer>
      </article>
    </div>
{{> templates/tail }}
