<footer class="tc mv0 pt1 pl2 pr2 fw2 pt3 pb3 mb4 bg-light-silver near-white">
  Copyright David Copeland. See <a class="white fw4" href="/about.html#license">the about page for license information</a>.
</footer>
