{{> templates/head }}
  <header class="tc mv0 pt1 pb2 pl2 pr2 bg-near-black washed-blue">
    <h1 class="mb2">Holgastreet,</h1>
    <h2 class="mt0 tracked fw3">Washington, DC</h2>
    <h3 class="mt1 mb3 f4 fw4">Real film, real (crappy) camera.</h3>
    <nav class="mt2 f6 fw6 ttu tracked pt2 bt tc b--gray">
      <a class="link dim white dib mr3" href="/about.html" title="About">About</a>
      <a class="link dim white dib mr3" href="/rolls/index.html" title="Rolls">Rolls</a>
      <a class="link dim white dib" href="https://instagram.com/holgastreet" title="Contact">Contact</a>
    </nav>
  </header>
  {{#current_roll}}
    <section class="pl2">
      {{#theme}}
      <h1 class="mb0 mt4 f4 tc fwb ttu tracked"><span class="fw4">Roll {{ roll_number}}:</span> {{ theme }}</h1>
      {{/theme}}
      <h2 class="mb1 mt1 f5 tc fw3 ttl">{{ pretty_name }}</h2>
      {{#description}}
      <div class="cf">
        <div class="fl w-25-ns db-ns dn">&nbsp;</div>
        <div class="fl w-50-ns">
          <p class="lh-copy fw4 pl4 pr4">{{ description }}</p>
        </div>
      </div>
      {{/description}}
      {{#sleeves}}
        <div class="cf">
          {{#pictures}}
            <div class="fl w-third pa2">
              <a href="/photos/{{slug}}.html">
                <img nopin="nopin" alt="Small photo of {{title}}" src="/images/holgastreet/{{name}}/{{ thumb_url }}" class="w-100">
              </a>
            </div>
          {{/pictures}}
        </div>
      {{/sleeves}}
    </section>
    <nav class="mb4 tr tc-ns mt4-ns mt2 pr3">
      <a class="black link f3 underline-hover fw3 tracked" href="/rolls/index.html">Previous Rolls &rarr;</a>
    </nav>
    {{/current_roll}}
    {{> templates/footer }}
{{> templates/tail }}
