{{> templates/common_head }}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@holgastreet">
<meta name="twitter:title" content="Holgastreet roll {{ roll_number }}: {{theme}}"
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="http://holgastreet.com/images/holgastreet/{{ roll_name }}/{{roll_image_thumb_url}}">
</head>
<body class="bg-washed-blue gray helvetica">
  <header class="tc mv0 pt1 pb2 pl2 pr2 bg-near-black washed-blue">
    <h1 class="mb2"><a class="no-underline washed-blue" href="/">Holgastreet</a></h1>
  </header>
    <section class="pl2">
      {{#theme}}
      <h1 class="mb0 mt4 f4 tc fwb ttu tracked"><span class="fw4">Roll {{ roll_number}}:</span> {{ theme }}</h1>
      {{/theme}}
      <h2 class="mb1 mt1 f5 tc fw3 ttl">{{ pretty_name }}</h2>
      {{#description}}
      <div class="cf">
        <div class="fl w-25-ns db-ns dn">&nbsp;</div>
        <div class="fl w-50-ns">
          <p class="lh-copy fw4 pl4 pr4">{{ description }}</p>
        </div>
      </div>
      {{/description}}
      {{#sleeves}}
        <div class="cf">
          {{#pictures}}
            <div class="fl w-third pa2">
              <a href="/photos/{{slug}}.html">
                <img nopin="nopin" alt="Small photo of {{title}}" src="/images/holgastreet/{{name}}/{{ thumb_url }}" class="w-100">
              </a>
            </div>
          {{/pictures}}
        </div>
      {{/sleeves}}
    </section>
    {{> templates/footer }}
{{> templates/tail }}
